<h1>DropboxEsque</h1>
<br>
<br>
<a href="{% url 'login' %}">Login</a>
<br>
<a href="{% url 'create' %}">Create New Folder &/ File</a>
<br> {% if request.user.is_authenticated %}
<h2>{{ request.user.username }}' Folder(s) & File(s):</h2>
{% endif %}
<br> {% load mptt_tags %}
<ul>
    {% recursetree branches %}
    <li>
        {{ node.name }} {% if not node.is_leaf_node %}
        <ul class="children">
            {{ children }}
        </ul>
        {% endif %}
    </li>
    {% endrecursetree %}
</ul>

<br>
<br>
<a href="{% url 'logout' %}">Logout</a>